.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app-container{
  height: 500px;  
  width: 500px;
  border: 1px solid;
}

.transaction-container{
  width: 400px;
  height: 100px;
  border: 1px solid;
  margin: 0 auto;
}

.balance{
  margin-top: 10px;
}
button{
  cursor: pointer;
  outline: none;
}
.transactions{
  height: 260px;
  width: 380px;
  border: 1px solid;
  margin: 20px auto;
  text-align: left;
  padding: 10px;
  overflow: scroll;
}
.user-info{
  font-size: 12px;
  color: red;
}